SECRET_KEY=paste_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.up.railway.app,.koyeb.app
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend.vercel.app
CORS_ORIGIN_ALLOW_ALL=False
DATABASE_URL=postgresql://neondb_example:your_password@ep-icy-sun-26666762.ap-southeast-1.aws.neon.tech/neondb_example?sslmode=require
REDIS_URL=rediss://default:example_password@ep-icy-sun-26666762.ap-southeast-1.aws.neon.tech:6379
